.register-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 32px;
}

.register-container input {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.register-date {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.register-date p {
  font-weight: bold;
}

.register-user-profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.register-user-profile p {
  font-weight: bold;
}
.register-user-profile div {
  display: flex;
  justify-content: space-around;
}
.register-user-profile input {
  margin-right: 15px;
}

.register-interest {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
.register-interest p {
  font-weight: bold;
}

.register-interest label {
  margin-left: 20px;
}
.register-interest input {
  margin-right: 15px;
}

.register-profile-picture {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.register-profile-picture input {
  width: 100%;
  font-weight: 500;
}
.register-profile-picture input:hover {
  cursor: pointer;
}

.register-btn {
  background-color: #1259c3;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;
}
.register-btn:hover {
  background-color: #03264c;
  cursor: pointer;
}

@media (min-width: 1023px) {
  .register-container {
    width: 80%;
    margin: 50px auto;
  }
}
